In [4]:
format(8/9 ,".3f")
#  .3f - Specifer

'0.889'

In [5]:
format("Hello","<40")

'Hello                                   '

In [1]:
format("Hello",">30")

'                         Hello'

In [2]:
format("Hello","^")

'Hello'

![](img/1.png)

In [1]:
_var =90
print(_var)

90

In [4]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [5]:
print("Siddhartha\n The New Data Scientist")

Siddhartha
 The New Data Scientist

In [10]:
print("Hello\ world")

Hello\ world

![](img/2.png)

![](img/3.png)

In [11]:
print(-5)

-5

In [12]:
5+6

11

In [14]:
5*2
25/5

5.0

In [15]:
# Truncating Div
5/4

1.25

In [16]:
5//4
# Truncating Div - Removes Decomal symbol

1

In [17]:
# Modulus
5%2

1

In [18]:
pow(2,5)

32

In [19]:
2**5

32

In [20]:
2^5

7

![](img/4.png)

In [22]:
5==5

True

In [23]:
5>3

True

In [24]:
5<3

False

In [25]:
5>=4

True

![](img/5.png)

In [26]:
5 in [1,2,3,4,5]

True

In [28]:
5 not in [ 1,2,3,4,5]

False

In [29]:
5<6 and 4==4

True

In [30]:
5>6 and 4==4

False

In [31]:
5>6 or 4==4

True

In [32]:
5<6 and 4==4

True

In [33]:
~10>5

False

In [34]:
# Not operator or Negationg   ~ ARE SAME
not[10>5]

False

# Python Programming Tutorial - Precedence and Associativity

![](img/6.png)

In [35]:
2+5*4
# Multiple Operator ...

22

In [36]:
(2+5)*4

28

In [37]:
2+5-1
# Left to Rigjht Evaluaiton

6

In [38]:
2**3**4

# 3**4 first Evaluated first .. then

2417851639229258349412352

In [39]:
3**4

81

In [40]:
2**81

2417851639229258349412352

![](img/7.png)

![](img/8.png)

![](img/9.png)

![](img/10.png)

# Sequential

In [5]:
print("Welcome")
print("To Data Science")
print("Siddhartha here")

Welcome
To Data Science
Siddhartha here

# condition

In [ ]:
var = int(input("Enter the interger  value :"))
if var < 10:
    print("Value less than 10 ")
else:
    print("Vlaue > than 10")

# Iterative Control

In [8]:
var = 0
while var <10:
    print(var)
    var  = var +1

0
1
2
3
4
5
6
7
8
9

![](img/11.png)

![](img/12.png)

![](img/13.png)

![](img/ex.png)

![](img/14.png)

# Ex for Loop
# for var in Seq

In [10]:
for letter in "python":
    print("Character is : " , letter)

Character is :  p
Character is :  y
Character is :  t
Character is :  h
Character is :  o
Character is :  n

In [11]:
print(letter)

n

In [12]:
for letter in [10,20,30,40]:
    print(letter)

10
20
30
40

In [17]:
for letter in [10,20,30,40]:
    if letter >=25:
        print(letter ,"Letter greater  then 25")
    else:
        print(letter, "Letter Less than 25")

10 Letter Less than 25
20 Letter Less than 25
30 Letter greater  then 25
40 Letter greater  then 25

# While condition:
# statment

In [20]:
count = 0
while count<=10:
    print(count)
    count +
print("Tata bye bye")

0
1
2
3
4
5
6
7
8
9
10
Tata bye bye

 #Loop Controls Break and Continue

# for break Statment

In [21]:
count  = 0
while count<=5:
    if count ==3:
        break
    else:
        print(count)
        count = count +1
print("thank you")

0
1
2
thank you

In [22]:
for letter in "siddhartha":
    if letter == 'h':
        break
    else:
        print(letter)

s
i
d
d

# Contine Statment

In [23]:
for letter in "siddhartha":
    if letter == 'h':
        continue
    else:
        print(letter)

s
i
d
d
a
r
t
a

![](img/15.png)

#  List and List type | Nested List

In [74]:
Animals = ['horse' , 'dog' , 'cat']

In [25]:
Animals

['horse', 'dog', 'cat']

In [26]:
Animals[0]

'horse'

In [27]:
len(Animals)

3

In [32]:
list_1 = [[12,20] ,[34,11]]

In [33]:
list_1[0]

[12, 20]

In [34]:
list_1[0][0]
# List  =  First index  + first value

12

#List Operations in Python Programming Tutorial

![](img/16.png)

In [35]:
list = [10,11,22,5.5]

In [36]:
list[2] = 4.4
# Replace

In [37]:
list

[10, 11, 4.4, 5.5]

# Insert

In [38]:
list

[10, 11, 4.4, 5.5]

In [39]:
list.insert(2,'sidd')
# insert on index 2   followed by string

In [40]:
list

[10, 11, 'sidd', 4.4, 5.5]

In [41]:
len(list)

5

In [42]:
Animals

['horse', 'dog', 'cat']

In [43]:
Animals.sort()

In [44]:
Animals

['cat', 'dog', 'horse']

In [46]:
Animals.append('snake')

In [47]:
Animals

['cat', 'dog', 'horse', 'snake']

In [48]:
del Animals[2]

In [49]:
Animals

['cat', 'dog', 'snake']

In [50]:
Animals.pop()

'snake'

In [51]:
Animals

['cat', 'dog']

In [52]:
Animals.append('Horse')

In [53]:
Animals

['cat', 'dog', 'Horse']

In [54]:
Animals.reverse()

In [55]:
Animals

['Horse', 'dog', 'cat']

![](img/17.png)

#  Python slice() Function Syntax:
Syntax: slice(start, stop, step)

Parameters: 

start: Starting index where the slicing of object starts.
stop: Ending index where the slicing of object stops.
step: It is an optional argument that determines the increment between each index for slicing.
Return Type: Returns a sliced object containing elements in the given range only.

In [2]:
# String slicing
String = 'GeeksforGeeks'
s1 = slice(3)
s2 = slice(1, 5, 2)
# Syntax: slice(start, stop, step)
 
print("String slicing")
print(String[s1])
print(String[s2])

String slicing
Gee
ek

In [6]:
String = 'Hello World'
slice_obj = slice(4,11)
print(String[slice_obj])

o World

In [7]:
new_list = [10,20,30,40,50]

In [8]:
new_list[1:]

[20, 30, 40, 50]

In [9]:
new_list[:2]

[10, 20]

In [10]:
new_list[:]

[10, 20, 30, 40, 50]

In [15]:
new_list.count(10)

1

In [16]:
name  = 'siddhartha'

In [18]:
name.index('h')
# starts with Zero
# in []  - Slcing  - Starts with 1

4

In [21]:
'h' in name

True

In [22]:
'L' in name

False

In [25]:
str1 = "Sid"
str2 = " DS"

In [26]:
str1+str2

'Sid DS'

In [29]:
min(name)

'a'

In [28]:
min(new_list)

10

In [30]:
max(new_list)

50

In [31]:
sum(new_list)

150

In [32]:
from numpy.lib.function_base import average


average(new_list)

30.0

In [33]:
from numpy.lib.function_base import median


median(new_list)

30.0

# List Assignment and Copying

In [34]:
list

list

In [35]:
new_list

[10, 20, 30, 40, 50]

In [36]:
new_list[0] = 'Apple'

In [37]:
new_list

['Apple', 20, 30, 40, 50]

In [38]:
x = list(new_list)

In [39]:
x

['Apple', 20, 30, 40, 50]

In [40]:
new_list

['Apple', 20, 30, 40, 50]

In [41]:
new_list[0] = 0

In [42]:
new_list

[0, 20, 30, 40, 50]

In [43]:
x

['Apple', 20, 30, 40, 50]

In [44]:
result  = [x**2 for x in [1,2,3]]

In [45]:
result

[1, 4, 9]

# Negative Index in List

In [46]:
new_list

[0, 20, 30, 40, 50]

In [49]:
new_list[-1]

50

In [50]:
new_list[:-1]

[0, 20, 30, 40]

In [51]:
new_list[0:-1]

[0, 20, 30, 40]

In [52]:
new_list[1:-1]

[20, 30, 40]

![](img/18_1.png)

In [53]:
new_list

[0, 20, 30, 40, 50]

In [54]:
new_list.insert(-4,15)

In [55]:
new_list

[0, 15, 20, 30, 40, 50]

In [59]:
new_list[-4:-2]

[20, 30]

In [62]:
del new_list[:-1]

In [63]:
new_list

[40]

In [64]:
new_list = [10,20,30,40]

In [65]:
new_list

[10, 20, 30, 40]

# Python range Function

# range(start to stop )=  range (1, 11)

In [67]:
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

#  Functions

In [69]:
def avg(n1,n2,n3):
    # Functions Defination
    return n1+n2+n3 /3.0 
    # Return Perform the ops

print("Welcome")
# Fiunctions Call
result1 = avg(2,4,8)
result2 = avg(10,20,30)
result3 = avg(1.1,2.1,3.3)

print(result1)
print(result2)
print(result3)

Welcome
8.666666666666666
40.0
4.3

#Keyword and Default arguments

In [ ]:
#user to enter the date
def Average(n1,n2,n3):
    return (n1+n2+n3)/3.0

numb1 =int(input())
numb2 =int(input())
numb3 = int(input())

result = Average(numb1,numb2,numb3)
print(result)

In [71]:
# Alternate way
def Average(n1,n2,n3):
    return (n1+n2+n3)/3.0

result = Average(n2=1,n1=2,n3=3)
print(result)

2.0

# Updating Global Variables

In [74]:
var =10
def func():
    global var
    var =var +1
    print("Variable value of func" , var)
    return


# main
func()

Variable value of func 11

# Lambda Function

In [76]:
sum = lambda x1,x2:x1+x2
print("Sum is :",sum(10,20))

Sum is : 30

#Absolute Ceil Floor Round and Trunc Numeric

In [77]:
abs(-6)

6

In [78]:
round(3.77)

4

In [79]:
import math

In [80]:
math.ceil(4.3)
# Next Higher Value

5

In [81]:
math.ceil(-3.3)
#  -3 o/p  as -3 > -4

-3

In [82]:
math.floor(3.4)

3

In [83]:
math.floor(-3.4)

-4

In [84]:
math.trunc(4.5)

4

In [85]:
math.trunc(-4.5)

-4

# Exponential Sqrt Max Min and Log Functions

In [86]:
math.e

2.718281828459045

In [87]:
math.pi

3.141592653589793

In [90]:
math.exp(2)
# or math.e**2

7.38905609893065

In [91]:
math.e**2

7.3890560989306495

In [92]:
math.sqrt(36)

6.0

In [95]:
math.pow(2,4)

16.0

In [96]:
max(10,20,30,-1)

30

In [97]:
min(10,20,30,-1)

-1

In [98]:
math.log(1)

0.0

In [99]:
math.log(2)

0.6931471805599453

In [100]:
math.log10(10)

1.0

# Modf Power Pi Degree and Radians Functions

#Modf()  -- separate Fractional + integer part

In [101]:
math.modf(11)

(0.0, 11.0)

In [102]:
math.modf(11.999991)

(0.9999909999999996, 11.0)

In [103]:
math.degrees(math.pi)

180.0

In [105]:
math.radians(180)

3.141592653589793

In [104]:
math.radians(60)

1.0471975511965976

#String Functions capitalize count and endswith

In [3]:
str1 = 'my  name is sid , i am a data scientist'

In [107]:
str1.capitalize()

'My  name is sid , i am a data scientist'

In [108]:
str1.upper()

'MY  NAME IS SID , I AM A DATA SCIENTIST'

In [109]:
str1.lower()

'my  name is sid , i am a data scientist'

In [111]:
str1.count('is')

2

In [112]:
str1.endswith('scientist')

True

In [113]:
str1.endswith('t')

True

In [114]:
str1.endswith('s')

False

#String Functions find length split and title

In [4]:
str1

'my  name is sid , i am a data scientist'

In [117]:
str1.find('sid')

12

In [118]:
len(str1)

39

In [119]:
str1.split()

['my', 'name', 'is', 'sid', ',', 'i', 'am', 'a', 'data', 'scientist']

In [120]:
str1.title()
# Capitizale Frist Letter in the senctence

'My  Name Is Sid , I Am A Data Scientist'

#String Functions replace isdigit and isalpha

In [121]:
str1

'my  name is sid , i am a data scientist'

In [123]:
str1.replace('sid' , 'Siddhartha')

'my  name is Siddhartha , i am a data scientist'

In [124]:
str2 = '123456'
str2.isdigit()

True

In [125]:
str1

'my  name is sid , i am a data scientist'

In [126]:
str1.isalpha()

False

In [127]:
str3 = "Sid"
# str3 - contains all alphabet  + no spaces
str3.isalpha()

True

#String Functions strip lstrip and rstrip

In [5]:
str1

'my  name is sid , i am a data scientist'

In [6]:
str2 = 'aaaaaaaaaaaaHelloaaaaaaaaa'

In [7]:
str2.strip('a')

'Hello'

# Modules in Python Programming

In [8]:
import math

In [9]:
math.factorial(4)

24

In [10]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [1]:
import sys

In [2]:
sys.path

['d:\\Data_Science_E_2_E_2022\\6_Python_DSA_OOD',
 'c:\\python\\python310.zip',
 'c:\\python\\DLLs',
 'c:\\python\\lib',
 'c:\\python',
 '',
 'C:\\Users\\Lenovo\\AppData\\Roaming\\Python\\Python310\\site-packages',
 'c:\\python\\lib\\site-packages',
 'c:\\python\\lib\\site-packages\\win32',
 'c:\\python\\lib\\site-packages\\win32\\lib',
 'c:\\python\\lib\\site-packages\\Pythonwin']

# Dictionaries in Python Programming

In [4]:
t ={}
t['Mon'] = 33.2
t['tues'] = 12.3

In [5]:
t

{'Mon': 33.2, 'tues': 12.3}

#Dictionary Operations

In [6]:
dict()

{}

In [7]:
num = { 1 :'one' , 2 :  'Two' , 3:'Three'}

In [8]:
num

{1: 'one', 2: 'Two', 3: 'Three'}

In [9]:
len(num)

3

In [10]:
del num[2]

In [11]:
num

{1: 'one', 3: 'Three'}

In [12]:
1 in num

True

In [13]:
2 in num

False

In [15]:
d = dict([(1,'Cat'),(2,'Dog'),(3,'Horse')])

In [16]:
d

{1: 'Cat', 2: 'Dog', 3: 'Horse'}

In [17]:
a = [1,2,3,4]

In [18]:
b =['apple', 'mango', 'orange', 'banana']

In [21]:
dict={}

In [22]:
for i in range(len(a)):
    dict[a[i]]=b[i]

In [23]:
dict

{1: 'apple', 2: 'mango', 3: 'orange', 4: 'banana'}

#Insert | Access |

In [24]:
dict = {1: 'apple', 2: 'mango', 3: 'orange'}

In [26]:
dict.keys()

dict_keys([1, 2, 3])

In [27]:
dict.values()

dict_values(['apple', 'mango', 'orange'])

In [28]:
# Key can used to extract the values .. But not viceversa
dict[3]

'orange'

In [29]:
# Second method
dict.get(3)

'orange'

#insert

In [30]:
dict

{1: 'apple', 2: 'mango', 3: 'orange'}

In [31]:
dict[4] = 'banana'

In [32]:
dict

{1: 'apple', 2: 'mango', 3: 'orange', 4: 'banana'}

# update Exsisting Value

In [33]:
dict

{1: 'apple', 2: 'mango', 3: 'orange', 4: 'banana'}

In [34]:
dict[3] = 'pineapple'

In [35]:
dict
# Note - Values can be changed or updated .. But KEY will remain constant

{1: 'apple', 2: 'mango', 3: 'pineapple', 4: 'banana'}

In [36]:
len(dict)

4

# Dictionary Methods | fromkeys()

![](img/19.png)

In [38]:
dict.fromkeys

In [40]:
{}.fromkeys (range(1,7),10)

{1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10}

# Dictionary Method | setdefault()

#setdefault(key,value)

In [41]:
students = {'Ria' :20 ,'John' : 19, 'Sid':22}

In [43]:
students

{'Ria': 20, 'John': 19, 'Sid': 22}

In [42]:
students.setdefault('Sid')

22

In [44]:
students.setdefault('anna')

In [45]:
students
# added to Dict

{'Ria': 20, 'John': 19, 'Sid': 22, 'anna': None}

In [46]:
students.setdefault('roo',10)

10

In [47]:
students

{'Ria': 20, 'John': 19, 'Sid': 22, 'anna': None, 'roo': 10}

In [48]:
dict

{1: 'apple', 2: 'mango', 3: 'pineapple', 4: 'banana'}

# syntax - Dictionary.update(dictionary)

In [49]:
dict.update(students)

In [50]:
dict

{1: 'apple',
 2: 'mango',
 3: 'pineapple',
 4: 'banana',
 'Ria': 20,
 'John': 19,
 'Sid': 22,
 'anna': None,
 'roo': 10}

In [51]:
students

{'Ria': 20, 'John': 19, 'Sid': 22, 'anna': None, 'roo': 10}

In [52]:
d_dict = { 1:'a',2:'b',3:'c'}

In [53]:
d_dict.update(y=3,x=1,z=4)

In [54]:
d_dict

{1: 'a', 2: 'b', 3: 'c', 'y': 3, 'x': 1, 'z': 4}

# How To Delete Values in Dictionary | del | pop() | clear()

In [55]:
dict

{1: 'apple',
 2: 'mango',
 3: 'pineapple',
 4: 'banana',
 'Ria': 20,
 'John': 19,
 'Sid': 22,
 'anna': None,
 'roo': 10}

In [56]:
dict.pop('roo')

10

In [57]:
dict

{1: 'apple',
 2: 'mango',
 3: 'pineapple',
 4: 'banana',
 'Ria': 20,
 'John': 19,
 'Sid': 22,
 'anna': None}

In [58]:
dict.clear()

In [59]:
dict

{}

# in List == to access the data -- index Works from ZERO
# in  Dict .Keys will play major Role

![](img/20.png)

# Looping With Index | Enumerate Function

In [60]:
color = ['red','white','Green']

In [61]:
for i in color:
    print(i)

red
white
Green

In [62]:
for i in range(len(color)):
    print(i,color[i])

0 red
1 white
2 Green

In [63]:
help(enumerate)

Help on class enumerate in module builtins:

class enumerate(object)
 |  enumerate(iterable, start=0)
 |
 |  Return an enumerate object.
 |
 |    iterable
 |      an object supporting iteration
 |
 |  The enumerate object yields pairs containing a count (from start, which
 |  defaults to zero) and a value yielded by the iterable argument.
 |
 |  enumerate is useful for obtaining an indexed list:
 |      (0, seq[0]), (1, seq[1]), (2, seq[2]), ...
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [64]:
color

['red', 'white', 'Green']

In [65]:
for i, j in enumerate(color):
    print(i,j)

0 red
1 white
2 Green

In [66]:
for i, j in enumerate(color,1):
    print(i,j)

1 red
2 white
3 Green

# Set Data Type

In [67]:
d_dict

{1: 'a', 2: 'b', 3: 'c', 'y': 3, 'x': 1, 'z': 4}

In [68]:
students

{'Ria': 20, 'John': 19, 'Sid': 22, 'anna': None, 'roo': 10}

# Set Vs Frozen set is just an immutable version of a Python set object

In [69]:
fruits = {'Orange', 'banana'}

In [70]:
fruits.add('apple')

In [71]:
fruits
# Set is Mutable

{'Orange', 'apple', 'banana'}

In [75]:
Animals

['horse', 'dog', 'cat']

In [79]:
animals = frozenset(['lion','Tiger'])

In [80]:
animals.add('leopard')

AttributeError: 'frozenset' object has no attribute 'add'

# set Ops

![](img/21.png)

In [81]:
set1 = {1,2,3,'sid'}

In [82]:
6 in set1

False

In [83]:
'sid' in set1

True

In [84]:
set1.add(6)

In [85]:
set1

{1, 2, 3, 6, 'sid'}

In [86]:
set1.remove(2)

In [87]:
set1

{1, 3, 6, 'sid'}

In [88]:
set2 = { 1 ,'apple'}

#Union  |

In [89]:
set1 | set2

{1, 3, 6, 'apple', 'sid'}

In [90]:
d_dict

{1: 'a', 2: 'b', 3: 'c', 'y': 3, 'x': 1, 'z': 4}

In [91]:
d_dict.clear()

In [92]:
d_dict

{}

# intersection

In [93]:
set1 & set2

{1}

In [94]:
set1 - set2

{3, 6, 'sid'}

In [95]:
set2 -set1

{'apple'}

# Symmetric Difference

In [96]:
set1 ^ set2

{3, 6, 'apple', 'sid'}

In [98]:
len(set1)

4

In [100]:
c =set1.copy()

In [101]:
c

{1, 3, 6, 'sid'}

# File handling

# open(FN , Mode)

In [105]:
text_file = open('text.txt','w')

In [106]:
text_file.write('Sid here , testing\n')
text_file.close()

In [107]:
text_file = open('text.txt','a')
text_file.write('Sid ! the new Data Scintist ')
text_file.close()

In [109]:
text_file = open('text.txt','r')
print(text_file.read())
text_file.close()

Sid here , testing
Sid ! the new Data Scintist

# Renaming and Deleting files

In [110]:
import os

os.rename('text.txt','New_file.txt')

In [111]:
os.getcwd()

'd:\\Data_Science_E_2_E_2022\\6_Python_DSA_OOD'

In [112]:
os.rename('New_file.txt','text.txt')

#Remove .. os.remove('File_name')

# Managing Directories

In [113]:
os.mkdir('d:\\Data_Science_E_2_E_2022\\6_Python_DSA_OOD\\new')
# Folder Created in name of NEW --

In [114]:
os.getcwd()
# GET Working Directory  cmd

'd:\\Data_Science_E_2_E_2022\\6_Python_DSA_OOD'

In [ ]:
# change Dir to New Dir 
# os.chdir('d:\\Data_Science_E_2_E_2022\\6_Python_DSA_OOD\\new')

# Remove
# os.rmdir('Dir name')

# Exceptional Handling  File name - EXceptional handlion.py
# File Execute  -- Try & Except .. Method

In [ ]:
'''import math
num = int(input('Enter the number :'))
try:
    result = math.factorial(num)
    print(result)
except:
    print('Cannot compute the Factorial of Negative Numb')
    '''

 # Raise EH

In [6]:
raise ValueError(4)

ValueError: 4

In [ ]:
'''from re import error


try:
    num =int(input('Enter the number : '))
    if num<=0:
        raise ValueError('The numb is not positive')
except ValueError as error:
        print(error)

'''

# Finally  EH

In [ ]:
'''import math
num = int(input('Enter the number :'))
try:
    result = math.factorial(num)
    print(result)
finally:
    print('Good Bye')
    '''

# Classes & Objects  - OOD

![](img/22.png)

# Procedureal Oriented Programming Technique

In [12]:
def display(name): 
    # Function Body 
    print("Hello",name)
    return


# main Body
display('Sid')
display('joe')
display('poo')

Hello Sid
Hello joe
Hello poo

![](img/23.png)

# Classes  - Are Blue Printf 4 Obj

![](img/24.png)

In [13]:
class person:
    pass

#main
p = person()
print(p)

# Output .. person class in saved in  Obj P  in mains file @ this Memory - 0x000001FDE3087E20

<__main__.person object at 0x000001FDE3087E20>

# Class Methods

![](img/25.png)

In [14]:
class person:
    def display(self):
        print('Hello')

person1 =person()
person1.display()

Hello

In [15]:
class person:
    def __init__(self,name):
        self.name = name
    def display(self):
        print('Hello',self.name)

person('Siddartha').display()

Hello Siddartha

# Class and Instance Variables

In [19]:
class student:
    college = 'ABC'

    def __init__(self,name, roll_no):
        self.name =  name
        self.roll_no = roll_no

    def display(self):
        print('Student Name: ' ,self.name)
        print('Stdent Roll No :' , self.roll_no)
        print('College name: ',student.college)

student1 = student('sid','77xy')
student1.display()

Student Name:  sid
Stdent Roll No : 77xy
College name:  ABC

# instant Var

In [22]:
class person:
    @staticmethod
    def display():
        print('Hello')

p =person()
p.display()

Hello

#  feature of OOD

![](img/26.png)

![](img/27.png)

In [28]:
class Animal:
    def eating(self):
        print('Eating')

class dog(Animal):
    def bark(self):
        print('barking')

d = dog()
d.eating()
d.bark()

Eating
barking

In [29]:
class animal():
    def __init__(self,name):
        self.name =name

class dog(animal):
    def display(self):
        print(self.name)

d = dog('babydog')
d.display()

babydog

# Multiple and Multilevel Inheritance

![](img/28.png)

![](img/29.png)

In [30]:
class person:
    def display(self):
        print('This is Class person')

class employee(person):
    def printing(self):
        print('This is Derived class')

class programmer(employee):
    def show(self):
        print('this is another derived class')

p1 =programmer()
p1.display()
p1.printing()
p1.show()

This is Class person
This is Derived class
this is another derived class

![](img/30.png)

![](img/31.png)

In [36]:
class land_animal:
    def printing(self):
        print('This animal lives on land')

class water_animal:
    def show(self):
        print('This animal lives in water too')

class frog(land_animal ,water_animal):
    def display(self):
        print('Frog is that Animal...')
    pass

f1 =frog()
f1.printing()
f1.show()
f1.display()

This animal lives on land
This animal lives in water too
Frog is that Animal...

# Method Overriding

![](img/32.png)

# Encapsulation

In [ ]:
''''Encapsulation in Python describes the concept of bundling data and methods within a single unit.
 So, for example, when you create a class, it means you are implementing encapsulation. 
 A class is an example of encapsulation as it binds all the data members 
(instance variables) and methods into a single unit'''

In [ ]:
''''What is an Instance Variable in Python? If the value of a variable varies from object to object, 
then such variables are called instance variables. For every object, a separate copy of the
 instance variable will be created.
 Instance variables are not shared by objects.'''

In [37]:
class car:
    def  __init__(self):
        self.__updatesoftware()
    
    def drive(self):
        print('Driving')

    def __updatesoftware(self):
        print('Updating Software')

blackcar = car()
blackcar.drive()

Updating Software
Driving

In [41]:
class car:
    _maxspeed = 0
    _name =''

    def __init__(self):
        self._maxspeed =200
        self._name ='Super car'

    def drive (self):
        print('driving')
        print(self._maxspeed)

    def set_speed(self,speed):
        self._maxspeed = speed
        print(speed)

red_car = car()
red_car.drive()
red_car.set_speed(100)

driving
200
100

In [42]:
#Creating a class
class A:
 
    # Declaring public method
    def fun(self):
        print("Public method")
 
    # Declaring private method
    def __fun(self):
        print("Private method")
 
    # Calling private method via
    # another method
    def Help(self):
        self.fun()
        self.__fun()
 
 
# Driver's code
obj = A()
obj.Help()

Public method
Private method

In [43]:
# Creating a Base class
class Base:
 
    # Declaring public method
    def fun(self):
        print("Public method")
 
    # Declaring private method
    def __fun(self):
        print("Private method")
 
# Creating a derived class
 
 
class Derived(Base):
    def __init__(self):
 
        # Calling constructor of
        # Base class
        Base.__init__(self)
 
    def call_public(self):
 
        # Calling public method of base class
        print("\nInside derived class")
        self.fun()
 
    def call_private(self):
 
        # Calling private method of base class
        self.__fun()
 
 
# Driver code
obj1 = Base()
 
# Calling public method
obj1.fun()
 
obj2 = Derived()
obj2.call_public()
 
# Uncommenting obj1.__fun() will
# raise an AttributeError
 
# Uncommenting obj2.call_private()
# will also raise an AttributeError

Public method

Inside derived class
Public method

# polymorphism

In [ ]:
'''Polymorphism in python defines methods in the child class that have the same name as the 
methods in the parent class. In inheritance, the child class inherits the methods from the
 parent class. Also, it is possible to modify a method in a child class that it has 
inherited from the parent class.'''

In [44]:
class cat:
    def sound(self):
        print('Meow')

class dog:
    def sound(self):
        print('Bow Bow')

def makesound(Animal_type):
    Animal_type.sound()

catobj = cat()
dogobj = dog()
makesound(catobj)
makesound(dogobj)

Meow
Bow Bow

# Time Methods

In [1]:
import time

In [2]:
time.time()

1664549137.5204499

In [3]:
time.localtime(time.time())

time.struct_time(tm_year=2022, tm_mon=9, tm_mday=30, tm_hour=20, tm_min=16, tm_sec=14, tm_wday=4, tm_yday=273, tm_isdst=0)

In [4]:
time.asctime()

'Fri Sep 30 20:17:29 2022'

In [12]:
tuple1 = (1993,12,8,9,20,3,0,0,0)

In [13]:
time.mktime(tuple1)

755322603.0

In [14]:
time.localtime(time.mktime(tuple1))

time.struct_time(tm_year=1993, tm_mon=12, tm_mday=8, tm_hour=9, tm_min=20, tm_sec=3, tm_wday=2, tm_yday=342, tm_isdst=0)

In [16]:
time.sleep(2)
print('Siddhartha')

Siddhartha

#Calender

In [17]:
import calendar

In [19]:
print(calendar.month(2022,9))

   September 2022
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30

In [20]:
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [22]:
print(calendar.weekday(2022,9,30))

4

In [25]:
calendar.isleap(2022)

False

In [26]:
calendar.leapdays(2000,2022)

6

In [27]:
help(calendar)

Help on module calendar:

NAME
    calendar - Calendar printing functions

MODULE REFERENCE
    https://docs.python.org/3.10/library/calendar.html

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Note when comparing these calendars to the ones printed by cal(1): By
    default, these calendars have Monday as the first day of the week, and
    Sunday as the last (the European convention). Use setfirstweekday() to
    set the first day of the week (0=Monday, 6=Sunday).

CLASSES
    builtins.ValueError(builtins.Exception)
        IllegalMonthError
        IllegalWeekdayError
    builtins.object
        Calendar
            HTMLCalendar
                LocaleHTMLCalendar
            TextCalendar
                LocaleTextCalendar

    class Calendar(builtins.object)
     |  Calendar(firstweekday=0)
     |
     |  Base calendar class. This class doesn't do any formatting. It simply
     |  provides data to subclasses.
     |
     |  Methods defined here:
     |
     |  __init__(self, firstweekday=0)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  getfirstweekday(self)
     |
     |  itermonthdates(self, year, month)
     |      Return an iterator for one month. The iterator will yield datetime.date
     |      values and will always iterate through complete weeks, so it will yield
     |      dates outside the specified month.
     |
     |  itermonthdays(self, year, month)
     |      Like itermonthdates(), but will yield day numbers. For days outside
     |      the specified month the day number is 0.
     |
     |  itermonthdays2(self, year, month)
     |      Like itermonthdates(), but will yield (day number, weekday number)
     |      tuples. For days outside the specified month the day number is 0.
     |
     |  itermonthdays3(self, year, month)
     |      Like itermonthdates(), but will yield (year, month, day) tuples.  Can be
     |      used for dates outside of datetime.date range.
     |
     |  itermonthdays4(self, year, month)
     |      Like itermonthdates(), but will yield (year, month, day, day_of_week) tuples.
     |      Can be used for dates outside of datetime.date range.
     |
     |  iterweekdays(self)
     |      Return an iterator for one week of weekday numbers starting with the
     |      configured first one.
     |
     |  monthdatescalendar(self, year, month)
     |      Return a matrix (list of lists) representing a month's calendar.
     |      Each row represents a week; week entries are datetime.date values.
     |
     |  monthdays2calendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; week entries are
     |      (day number, weekday number) tuples. Day numbers outside this month
     |      are zero.
     |
     |  monthdayscalendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; days outside this month are zero.
     |
     |  setfirstweekday(self, firstweekday)
     |
     |  yeardatescalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting. The return
     |      value is a list of month rows. Each month row contains up to width months.
     |      Each month contains between 4 and 6 weeks and each week contains 1-7
     |      days. Days are datetime.date objects.
     |
     |  yeardays2calendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are
     |      (day number, weekday number) tuples. Day numbers outside this month are
     |      zero.
     |
     |  yeardayscalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are day numbers.
     |      Day numbers outside this month are zero.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  firstweekday

    class HTMLCalendar(Calendar)
     |  HTMLCalendar(firstweekday=0)
     |
     |  This calendar returns complete HTML pages.
     |
     |  Method resolution order:
     |      HTMLCalendar
     |      Calendar
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  formatday(self, day, weekday)
     |      Return a day as a table cell.
     |
     |  formatmonth(self, theyear, themonth, withyear=True)
     |      Return a formatted month as a table.
     |
     |  formatmonthname(self, theyear, themonth, withyear=True)
     |      Return a month name as a table row.
     |
     |  formatweek(self, theweek)
     |      Return a complete week as a table row.
     |
     |  formatweekday(self, day)
     |      Return a weekday name as a table header.
     |
     |  formatweekheader(self)
     |      Return a header for a week as a table row.
     |
     |  formatyear(self, theyear, width=3)
     |      Return a formatted year as a table of tables.
     |
     |  formatyearpage(self, theyear, width=3, css='calendar.css', encoding=None)
     |      Return a formatted year as a complete HTML page.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  cssclass_month = 'month'
     |
     |  cssclass_month_head = 'month'
     |
     |  cssclass_noday = 'noday'
     |
     |  cssclass_year = 'year'
     |
     |  cssclass_year_head = 'year'
     |
     |  cssclasses = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
     |
     |  cssclasses_weekday_head = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', '...
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from Calendar:
     |
     |  __init__(self, firstweekday=0)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  getfirstweekday(self)
     |
     |  itermonthdates(self, year, month)
     |      Return an iterator for one month. The iterator will yield datetime.date
     |      values and will always iterate through complete weeks, so it will yield
     |      dates outside the specified month.
     |
     |  itermonthdays(self, year, month)
     |      Like itermonthdates(), but will yield day numbers. For days outside
     |      the specified month the day number is 0.
     |
     |  itermonthdays2(self, year, month)
     |      Like itermonthdates(), but will yield (day number, weekday number)
     |      tuples. For days outside the specified month the day number is 0.
     |
     |  itermonthdays3(self, year, month)
     |      Like itermonthdates(), but will yield (year, month, day) tuples.  Can be
     |      used for dates outside of datetime.date range.
     |
     |  itermonthdays4(self, year, month)
     |      Like itermonthdates(), but will yield (year, month, day, day_of_week) tuples.
     |      Can be used for dates outside of datetime.date range.
     |
     |  iterweekdays(self)
     |      Return an iterator for one week of weekday numbers starting with the
     |      configured first one.
     |
     |  monthdatescalendar(self, year, month)
     |      Return a matrix (list of lists) representing a month's calendar.
     |      Each row represents a week; week entries are datetime.date values.
     |
     |  monthdays2calendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; week entries are
     |      (day number, weekday number) tuples. Day numbers outside this month
     |      are zero.
     |
     |  monthdayscalendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; days outside this month are zero.
     |
     |  setfirstweekday(self, firstweekday)
     |
     |  yeardatescalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting. The return
     |      value is a list of month rows. Each month row contains up to width months.
     |      Each month contains between 4 and 6 weeks and each week contains 1-7
     |      days. Days are datetime.date objects.
     |
     |  yeardays2calendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are
     |      (day number, weekday number) tuples. Day numbers outside this month are
     |      zero.
     |
     |  yeardayscalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are day numbers.
     |      Day numbers outside this month are zero.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from Calendar:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  firstweekday

    class IllegalMonthError(builtins.ValueError)
     |  IllegalMonthError(month)
     |
     |  # Exceptions raised for bad input
     |
     |  Method resolution order:
     |      IllegalMonthError
     |      builtins.ValueError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, month)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __str__(self)
     |      Return str(self).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.ValueError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class IllegalWeekdayError(builtins.ValueError)
     |  IllegalWeekdayError(weekday)
     |
     |  Method resolution order:
     |      IllegalWeekdayError
     |      builtins.ValueError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, weekday)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __str__(self)
     |      Return str(self).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Static methods inherited from builtins.ValueError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      Helper for pickle.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class LocaleHTMLCalendar(HTMLCalendar)
     |  LocaleHTMLCalendar(firstweekday=0, locale=None)
     |
     |  This class can be passed a locale name in the constructor and will return
     |  month and weekday names in the specified locale. If this locale includes
     |  an encoding all strings containing month and weekday names will be returned
     |  as unicode.
     |
     |  Method resolution order:
     |      LocaleHTMLCalendar
     |      HTMLCalendar
     |      Calendar
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, firstweekday=0, locale=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  formatmonthname(self, theyear, themonth, withyear=True)
     |      Return a month name as a table row.
     |
     |  formatweekday(self, day)
     |      Return a weekday name as a table header.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from HTMLCalendar:
     |
     |  formatday(self, day, weekday)
     |      Return a day as a table cell.
     |
     |  formatmonth(self, theyear, themonth, withyear=True)
     |      Return a formatted month as a table.
     |
     |  formatweek(self, theweek)
     |      Return a complete week as a table row.
     |
     |  formatweekheader(self)
     |      Return a header for a week as a table row.
     |
     |  formatyear(self, theyear, width=3)
     |      Return a formatted year as a table of tables.
     |
     |  formatyearpage(self, theyear, width=3, css='calendar.css', encoding=None)
     |      Return a formatted year as a complete HTML page.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from HTMLCalendar:
     |
     |  cssclass_month = 'month'
     |
     |  cssclass_month_head = 'month'
     |
     |  cssclass_noday = 'noday'
     |
     |  cssclass_year = 'year'
     |
     |  cssclass_year_head = 'year'
     |
     |  cssclasses = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
     |
     |  cssclasses_weekday_head = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', '...
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from Calendar:
     |
     |  getfirstweekday(self)
     |
     |  itermonthdates(self, year, month)
     |      Return an iterator for one month. The iterator will yield datetime.date
     |      values and will always iterate through complete weeks, so it will yield
     |      dates outside the specified month.
     |
     |  itermonthdays(self, year, month)
     |      Like itermonthdates(), but will yield day numbers. For days outside
     |      the specified month the day number is 0.
     |
     |  itermonthdays2(self, year, month)
     |      Like itermonthdates(), but will yield (day number, weekday number)
     |      tuples. For days outside the specified month the day number is 0.
     |
     |  itermonthdays3(self, year, month)
     |      Like itermonthdates(), but will yield (year, month, day) tuples.  Can be
     |      used for dates outside of datetime.date range.
     |
     |  itermonthdays4(self, year, month)
     |      Like itermonthdates(), but will yield (year, month, day, day_of_week) tuples.
     |      Can be used for dates outside of datetime.date range.
     |
     |  iterweekdays(self)
     |      Return an iterator for one week of weekday numbers starting with the
     |      configured first one.
     |
     |  monthdatescalendar(self, year, month)
     |      Return a matrix (list of lists) representing a month's calendar.
     |      Each row represents a week; week entries are datetime.date values.
     |
     |  monthdays2calendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; week entries are
     |      (day number, weekday number) tuples. Day numbers outside this month
     |      are zero.
     |
     |  monthdayscalendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; days outside this month are zero.
     |
     |  setfirstweekday(self, firstweekday)
     |
     |  yeardatescalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting. The return
     |      value is a list of month rows. Each month row contains up to width months.
     |      Each month contains between 4 and 6 weeks and each week contains 1-7
     |      days. Days are datetime.date objects.
     |
     |  yeardays2calendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are
     |      (day number, weekday number) tuples. Day numbers outside this month are
     |      zero.
     |
     |  yeardayscalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are day numbers.
     |      Day numbers outside this month are zero.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from Calendar:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  firstweekday

    class LocaleTextCalendar(TextCalendar)
     |  LocaleTextCalendar(firstweekday=0, locale=None)
     |
     |  This class can be passed a locale name in the constructor and will return
     |  month and weekday names in the specified locale. If this locale includes
     |  an encoding all strings containing month and weekday names will be returned
     |  as unicode.
     |
     |  Method resolution order:
     |      LocaleTextCalendar
     |      TextCalendar
     |      Calendar
     |      builtins.object
     |
     |  Methods defined here:
     |

#  type and dir function

In [28]:
type(1)

int

In [29]:
type(1.44)

float

In [30]:
list = []
type(list)

list

In [31]:
dir()

['In',
 'Out',
 '_',
 '_13',
 '_14',
 '_2',
 '_24',
 '_25',
 '_26',
 '_28',
 '_29',
 '_3',
 '_30',
 '_4',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'calendar',
 'exit',
 'get_ipython',
 'list',
 'mktime',
 'os',
 'quit',
 'sys',
 'time',
 'tuple',
 'tuple1']

In [32]:
import math

In [33]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

# Printing Stars '*' in Right Angle Triangle Shape | Star Pattern

![](img/33.png)

In [34]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [35]:
print('hello');print('Hi')

hello
Hi

In [37]:
print('hello',end=" ");print('Hi')

hello Hi

In [ ]:
''''num = int(input('Enter the  number of rows'))
for i in range(1,num+1):
    for j in range(1,i+1):
        print("*", end=" ")
    print()
    '''

![](img/35.png)

# Right Angle Triangle O/p

In [ ]:
'''num = int(input('Enter the  number of rows'))
k=1
for i in range(1,num+1):
    for j in range(1,k+1):
        print("*", end=" ")
    k = k+2
    print()
    '''

![](img/37.png)

# Pyramid

In [ ]:
'''num = int(input('Enter the  number of rows'))
for i in range(0,num):
    for j in range(0,num-i-1):
        print(end=" ")
    for j in range(0,i+1):
        print('*',end=" ")
    print()
    '''

![](img/38.png)

In [40]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1)+'*'*(i+1))
    #print()

In [41]:
pyramid(5)

*
**
***
****
*****

In [42]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1)+'*'*(2*i+1))
    #print()

In [43]:
pyramid(4)

*
***
*****
*******

# Reverse the Pyramid Shape

In [ ]:
'''num = int(input('Enter the  number of rows'))
for i in range(num,0,-1):
    for j in range(0,num-i):
        print(end=" ")
    for j in range(0,i):
        print('*',end=" ")
    print()
    '''

![](img/39.png)

# Star print - DIAMOND Shape()

In [49]:
def pyramid(rows):
    for i in range(rows):
        print(''*(rows-i-1)+'*'*(i+1))
    for j in range(rows-1,0,-1):
        print(''*(rows-j)+'*'*(j))

In [50]:
pyramid(5)

*
**
***
****
*****
****
***
**
*

# Star print-  INVERTED RT.ANGLE TRIANGLE

In [ ]:
'''num = int(input('Enter the  number of rows'))
for i in range(num,0,-1):
    for j in range(0,i):
        print('*',end=" ")
    print()
    '''

![](img/40.png)

# iterators

In [51]:
list = [1,2,3,'hello',1.5]

In [52]:
for i in list:
    print(i)

1
2
3
hello
1.5

In [1]:
animals = ['dog','cat','horse','cow']

In [55]:
i=0
while i<len(animals):
    print(animals[i])
    i =i +1

dog
cat
horse
cow

# Iterables & Iterators

#An Iterable is basically an object that any user can iterate over. An Iterator is also an object that helps a user in iterating over another object (that is iterable). Method Used. We can generate an iterator when we pass the object to the iter() method. We use the __next__() method for iterating.

In [2]:
def print_each(iterables):
    iterators = iter(iterables)
    while True:
        try:
            item = next(iterators)
        except StopIteration:
            break
        else:
            print(item)

In [3]:
print_each(['red','orange','white'])

red
orange
white

# Generators

#Generators are a simple way of creating iterators. All the work we mentioned above are automatically handled by generators in Python. Simply speaking, a generator is a function that returns an object (iterator) which we can iterate over (one value at a time).

yield keyword is used to create a generator function. A type of function that is memory efficient and can be used like an iterator object. In layman terms, the yield keyword will turn any expression that is given with it into a generator object and return it to the caller.

In [5]:
def fib(mymax):
    a,b = 0,1
    while True:
        c =a+b
        if c< mymax:
            yield c
            a=b
            b=c
        else:
            break

In [6]:
generator = fib(10)

In [7]:
generator

In [8]:
next(generator)

1

In [9]:
next(generator)

2

In [10]:
next(generator)

3

In [11]:
next(generator)

5

In [12]:
next(generator)

8

In [13]:
next(generator)

StopIteration:

# Regular Expressions 
#https://www.geeksforgeeks.org/python-regex/

#A RegEx is a powerful tool for matching text, based on a pre-defined pattern. It can detect the presence or absence of a text by matching it with a particular pattern, and also can split a pattern into one or more sub-patterns. The Python standard library provides a re module for regular expressions. Its primary function is to offer a search, where it takes a regular expression and a string. Here, it either returns the first match or else none.

![](img/41.png)

# RE  - Pattern

![](img/42.png)

#Match, Search, Findall, Replace & split()-- Functions

In [1]:
import re

In [2]:
line ="pet:cat i love cats"

#\w  matches a word character

\d  matches digit character

\s  matches whitespace character (space, tab, newline, etc.)

\b  matches a zero-length character

In [7]:
#match = re.match(pattern,str,<flag=0>)
match = re.match(r'pet:\w\w\w',line)

In [8]:
match

In [11]:
match.group(0)

'pet:cat'

In [12]:
match = re.search(r'pet:\w\w\w',line)

In [13]:
match

In [14]:
match.group(0)

'pet:cat'

In [15]:
line = 'I Love cats pet:cat'

In [16]:
var = re.match(r'pet:\w\w\w',line)

In [17]:
var

In [18]:
var.group(0)

AttributeError: 'NoneType' object has no attribute 'group'

In [19]:
var = re.search(r'pet:\w\w\w',line)

In [21]:
line

'I Love cats pet:cat'

In [20]:
var

# Note - Search return first occureance of pattern  see below example

In [22]:
var.group(0)

'pet:cat'

In [26]:
line =' pet:cat , I love cats , pet:cow , i love cows'

In [27]:

var = re.search(r'pet:\w\w\w',line)

In [28]:
var

In [29]:
var.group(0)

'pet:cat'

#Here Pet cows is not returned in the var  -- Soln - Findall - Fun()

In [30]:
line

' pet:cat , I love cats , pet:cow , i love cows'

In [31]:
var = re.findall(r'pet:\w\w\w',line)

In [32]:
var

['pet:cat', 'pet:cow']

In [34]:
line

' pet:cat , I love cats , pet:cow , i love cows'

In [35]:
s = re.split(r'pet:\w\w\w',line)

In [36]:
s

[' ', ' , I love cats , ', ' , i love cows']

In [38]:
str1 ='sid@abc.com and alice@pqr.com'

In [41]:
replace1 = re.sub(r"@\w+",'@xyz',str1)

In [42]:
replace1

'sid@xyz.com and alice@xyz.com'

# Recursive Func()

![](img/43.png)

In [43]:
def counter(c):
    if c<=0:
        return c
    else:
        return c+counter(c-1)

In [45]:
counter(3) 

#3*2*1 = 6

6

In [1]:
def fact(n):
    if n==1:
        return 1
    else:
        return n*fact(n-1)

In [2]:
fact(3)

6

# Armstrong Numbers

#Input : 153

Output : Yes

153 is an Armstrong number.

1*1*1 + 5*5*5 + 3*3*3 = 153

Input : 120

Output : No

120 is not a Armstrong number.

1*1*1 + 2*2*2 + 0*0*0 = 9

Input : 1253

Output : No

1253 is not a Armstrong Number

1*1*1*1 + 2*2*2*2 + 5*5*5*5 + 3*3*3*3 = 723

![](img/arm_strong.png)

In [1]:
# Python program to determine whether
# the number is Armstrong number or not
 
# Function to calculate x raised to
# the power y
def power(x, y):
     
    if y == 0:
        return 1
    if y % 2 == 0:
        return power(x, y // 2) * power(x, y // 2)
         
    return x * power(x, y // 2) * power(x, y // 2)
 
# Function to calculate order of the number
def order(x):
 
    # Variable to store of the number
    n = 0
    while (x != 0):
        n = n + 1
        x = x // 10
         
    return n
 
# Function to check whether the given
# number is Armstrong number or not
def isArmstrong(x):
     
    n = order(x)
    temp = x
    sum1 = 0
     
    while (temp != 0):
        r = temp % 10
        sum1 = sum1 + power(r, n)
        temp = temp // 10
 
    # If condition satisfies
    return (sum1 == x)
 
# Driver code
x = 153
print(isArmstrong(x))
 
x = 1253
print(isArmstrong(x))

True
False

# List of Armstrong Numbers

In [2]:
for i in range(1001):
    num =i
    result =0
    n =len(str(i))
    while(i!= 0):
        digit =i%10
        result = result+digit**n
        i=i//10
    if num == result:
        print(num)

0
1
2
3
4
5
6
7
8
9
153
370
371
407

#Factorial Program using In-Built Function

#factorial is a Non  - -Ve int denoated by n product of all +ve int <= to n

In [3]:
# Python code to demonstrate naive method
# to compute factorial
n = 5
fact = 1
  
for i in range(1,n+1):
    fact = fact * i
      
print ("The factorial of 5 is : ",end="")
print (fact)

The factorial of 5 is : 120

In [4]:

# Python code to demonstrate math.factorial()
import math
  
print ("The factorial of 5 is : ", end="")
print (math.factorial(5))

The factorial of 5 is : 120

#  Fibonacci Series
The Fibonacci numbers are the numbers in the following integer sequence.

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ..

In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation 

    Fn = Fn-1 + Fn-2
    
with seed values  

   F0 = 0 and F1 = 1.

In [7]:
n= 10
first  = 0
second = 1
for i in range(n):
    print(first)
    temp =first
    first = second
    second = temp +second
    #print(n)

0
1
1
2
3
5
8
13
21
34

# Printing Prime Numbers in Given Interval

# Prime number
A prime number is a natural number greater than 1 that has no positive divisors other than 1 and itself. 
The first few prime numbers are {2, 3, 5, 7, 11, .}.

In [ ]:
'''lower = int(input('Enter the  lower numb : '))
upper = int(input('Enter the  upper numb : '))
for num in range (lower, upper+1):
    if num>1:
        for i in range(2,num):
            if(num%i)==0:
                break
        else:
            print(num)
'''

![](img/PN.png)

#A perfect number is a number which is equal to the sum of its proper divisors, i.e. all its divisors including 1 but not the number itself. For example, 6 = 3 + 2 + 1. Combining Python's capabilities, we can write a one-line statement to find all the perfect numbers in the range 2 to n.

In [ ]:
'''num=int(input("Enter the number: "))  
sum_v=0  
for i in range(1,num):  
    if (num%i==0):  
        sum_v=sum_v+i  
if(sum_v==num):  
    print("The entered number is a perfect number")  
else:  
    print("The entered number is not a perfect number")  '''

#  Palindrome Program | Reverse The String And Number | Advanced Slicing

In [ ]:
'''Given a string, write a python function to check if it is palindrome or not. 
A string is said to be palindrome if the reverse of the string is the same as string.
 For example, radar is a palindrome, but radix is not a palindrome.

Examples: 

Input : malayalam
Output : Yes

Input : geeks
Output : No'''

In [8]:
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = "malayalam"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

Yes

In [9]:
def isPalindrome(s):
    return s == s[::-1]
 
 
# Driver code
s = "Radix"
ans = isPalindrome(s)
 
if ans:
    print("Yes")
else:
    print("No")

No

In [10]:
# function to check string is
# palindrome or not
def isPalindrome(s):
 
    # Using predefined function to
    # reverse to string print(s)
    rev = ''.join(reversed(s))
 
    # Checking if both string are
    # equal or not
    if (s == rev):
        return True
    return False
 
# main function
s = "radar"
ans = isPalindrome(s)
 
if (ans):
    print("Yes")
else:
    print("No")

Yes

# Str = [start : End : Step]

In [11]:
str = 'radix'

In [12]:
str[1:4]

'adi'

In [13]:
str[::]

'radix'

#Reverse the String

In [14]:
str[::-1]

'xidar'

#Program To Swap Two Numbers With or Without Using Third Variable

# without 3rd Var

In [15]:
x = 10
y = 5
 
print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)
 
# code to swap 'x' and 'y'
x, y = y, x
 
print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  10  and y :  5
After swapping:
Value of x :  5  and y :  10

In [16]:
 
x = 10
y = 50
 
# Swapping of two variables
# Using third variable
temp = x
x = y
y = temp
 
print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

# Program To Print Sum Of Digits Of Positive Integer Number

# 1234 = 1+2+3+4  = 10 - O/p

In [25]:
def digit_sum(x):
       ...:   n=0
   ...:   while x>0:
   ...:     #get the end digit of the number,add to n
   ...:       n+=x%10
   ...:       #remove the end digit of the number
   ...:       x=x//10
   ...:   return n if n < 10 else digit_sum(n)

In [26]:
digit_sum(434)

2

In [27]:
digit_sum(121)

4

# Reverse String - For Loop

In [28]:
def reverse(s):
    str = ""
    for i in s:
        str = i + str
    return str
  
s = "Concentration"
  
print("The original string is : ", end="")
print(s)
  
print("The reversed string(using loops) is : ", end="")
print(reverse(s))

The original string is : Concentration
The reversed string(using loops) is : noitartnecnoC

# Flip 1010  to 0101

In [29]:
bit_s = '1010'
  
# using ternary operator with 
# list comprehension
inverse_s = ''.join(['1' if i == '0' else '0'
                     for i in bit_s])
  
print("Inversed string is", 
      inverse_s)

Inversed string is 0101

# to Count Vowels in Given Sentence

In [30]:
# Function to count vowel
def vowel_count(str):
      
    # Initializing count variable to 0
    count = 0
      
    # Creating a set of vowels
    vowel = set("aeiouAEIOU")
      
    # Loop to traverse the alphabet
    # in the given string
    for alphabet in str:
      
        # If alphabet is present
        # in set vowel
        if alphabet in vowel:
            count = count + 1
      
    print("No. of vowels :", count)
      
# Driver code 
str = "GeeksforGeeks"
  
# Function Call
vowel_count(str)

No. of vowels : 5

#To Print Every Index of Duplicate Elements in List

In [31]:
List = ['Sid',1,2,3,1.4]

In [36]:
print(List.index(3))

3

In [37]:
List1= ['Sid',1,1,1,2,3,4,5,6]

In [39]:
List2 = [i for  i in range(len(List1))]

In [40]:
print(List2)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

# Number from one Form to Another int() | bin() | oct() | hex()
# https://www.cuemath.com/numbers/100-in-binary/

![](img/44.png)

# Binary to int

In [42]:
int(0b1010)

10

In [44]:
int('1010',2)
# integer to Binary format  - 2 is the base

10

In [46]:
int('0b1010',2)

10

# Oct to Int
# https://www.cuemath.com/numbers/100-in-binary/

In [47]:
int(0o100)

64

In [48]:
int('100',8)
# Oct Number base 8

64

# Hexa Decimal

In [49]:
int(0x8E)

142

In [50]:
int('8E',16)

142

# int to Binary

In [51]:
help(bin)

Help on built-in function bin in module builtins:

bin(number, /)
    Return the binary representation of an integer.

    >>> bin(2796202)
    '0b1010101010101010101010'

In [52]:
bin(64)

'0b1000000'

In [53]:
bin(10)

'0b1010'

#int to Oct()

In [54]:
help(oct)

Help on built-in function oct in module builtins:

oct(number, /)
    Return the octal representation of an integer.

    >>> oct(342391)
    '0o1234567'

In [55]:
oct(64)

'0o100'

In [56]:
oct(100)

'0o144'

#int to Hexa()

In [57]:
help(hex)

Help on built-in function hex in module builtins:

hex(number, /)
    Return the hexadecimal representation of an integer.

    >>> hex(12648430)
    '0xc0ffee'

In [58]:
hex(64)

'0x40'

In [59]:
hex(100)

'0x64'

# range vs xrange function

![](img/range.png)

![](img/range1.png)

In [70]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [77]:
n = list(range(10))
print(n)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
xrange(1,6)

range(1, 6)

![](img/range2.png)

In [61]:
from past.builtins import xrange
# Python code to demonstrate range() vs xrange()
# on  basis of return type
  
# initializing a with range()
a = range(1,10000)
  
# initializing a with xrange()
x = xrange(1,10000)
  
# testing the type of a
print ("The return type of range() is : ")
print (type(a))
  
# testing the type of x
print ("The return type of xrange() is : ")
print (type(x))

The return type of range() is :
<class 'range'>
The return type of xrange() is :
<class 'range'>

# Memory
The variable storing the range created by range() takes more memory as compared to the variable storing the range using xrange(). The basic reason for this is the return type of range() is list and xrange() is xrange() object

In [74]:
# Python code to demonstrate range() vs xrange()
# on  basis of memory
  
import sys
  
# initializing a with range()
a = list(range(1,10000))
  
# initializing a with xrange()
x = xrange(1,10000)
  
# testing the size of a
# range() takes more memory
print ("The size allotted using range() is : ")
print (sys.getsizeof(a))
  
# testing the size of x
# xrange() takes less memory
print ("The size allotted using xrange() is : ")
print (sys.getsizeof(x))

The size allotted using range() is :
80048
The size allotted using xrange() is :
48

#Operations Usage

As range() returns the list, all the operations that can be applied on the list can be used on it. On the other hand, as xrange() returns the xrange object, operations associated to list cannot be applied on them, hence a disadvantage.

In [82]:
# Python code to demonstrate range() vs xrange()
# on  basis of operations usage 
  
# initializing a with range()
a = list(range(1,6))
  
# initializing a with xrange()
x = xrange(1,6)
  
# testing usage of slice operation on range()
# prints without error
print ("The list after slicing using range is : ")
print (a[2:5])
  
# testing usage of slice operation on xrange()
# raises error
print ("The list after slicing using xrange is : ")
print (x[2:5])

The list after slicing using range is :
[3, 4, 5]
The list after slicing using xrange is :
range(3, 6)

#Speed

Because of the fact that xrange() evaluates only the generator object containing only the values that are required by lazy evaluation, therefore is faster in implementation than range().

Important Points: 


If you want to write code that will run on both Python 2 and Python 3, use range() as the xrange function is deprecated in Python 3.
range() is faster if iterating over the same sequence multiple times.
xrange() has to reconstruct the integer object every time, but range() will have real integer objects. (It will always perform worse in terms of memory however)

![](img/diff.png)

#  append vs extend methods

#What is Append in Python?

Pythons append() function inserts a single element into an existing list.
 The element will be added to the end of the old list rather than being returned to a new list.
  Adds its argument as a single element to the end of a list. The length of the list increases by one. 

 Syntax of append() in Python

#Adds an object (a number, a string or a 

#another list) at the end of my_list
my_list.append(object)

In [84]:
my_list = ['geeks', 'for']
my_list.append('geeks')
print(my_list)

['geeks', 'for', 'geeks']

In [85]:
my_list = ['geeks', 'for', 'geeks']
another_list = [6, 0, 4, 1]
my_list.append(another_list)
print(my_list)

['geeks', 'for', 'geeks', [6, 0, 4, 1]]

#What is extend() in Python? 

Iterates over its argument and adding each element to the list and extending the list. 
The length of the list increases by a number of elements in its argument.

 Syntax of extend() in Python
#Each element of an iterable gets appended 
#to my_list
my_list.extend(iterable)

In [86]:
my_list = ['geeks', 'for']
another_list = [6, 0, 4, 1]
my_list.extend(another_list)
print(my_list)

['geeks', 'for', 6, 0, 4, 1]

In [87]:
my_list = ['geeks', 'for', 6, 0, 4, 1]
my_list.extend('geeks')
print(my_list)

['geeks', 'for', 6, 0, 4, 1, 'g', 'e', 'e', 'k', 's']

# Raw_input & Input

#raw_input and input is that the return type of raw_input is always string, while the return type of input need not be string only. Python will judge as to what data type will it fit the best. In case you have entered a number, it will take it as an integer

![](img/input.png)

![](img/45.png)

#  String Methods | translate() | maketrans()

#translate() method returns a string where some specified characters are replaced with the character described in a dictionary, or in a mapping table. Use the maketrans() method to create a mapping table. If a character is not specified in the dictionary/table, the character will not be replaced.

![](img/translate.png)

![](img/46.png)

![](img/47.png)

![](img/48.png)

![](img/49.png)

![](img/50.png)

![](img/51.png)

![](img/52.png)

![](img/53.png)

In [2]:
string = 'abcde'

In [1]:
dict = {'a': '1' ,'b' : '2' ,'c': '3'}

In [3]:
d = string.maketrans(dict)

In [4]:
d

{97: '1', 98: '2', 99: '3'}

#maketrans()

maketrans() function is used to construct the transition table i.e specify the
 list of characters that need to be replaced in the whole string or the characters that
  need to be deleted from the string

Syntax : maketrans(str1, str2, str3)

Parameters :

str1 : Specifies the list of characters that need to be replaced.

str2 : Specifies the list of characters with which the characters need to be replaced.

str3 : Specifies the list of characters that needs to be deleted.

Returns : Returns the translation table which specifies the conversions that can be used by translate()

#Translate using maketrans()

To translate the characters in the string translate() is used to make the translations.

 This function uses the translation mapping specified using the maketrans().

Syntax : translate(table, delstr)

Parameters :

table : Translate mapping specified to perform translations.

delstr : The delete string can be specified as optional argument is not mentioned in table.

Returns : Returns the argument string after performing the translations using the translation table.

In [5]:
# Python3 code to demonstrate 
# translations using 
# maketrans() and translate()
  
# specify to translate chars
str1 = "wy"
  
# specify to replace with
str2 = "gf"
  
# delete chars
str3 = "u"
  
# target string 
trg = "weeksyourweeks"
  
# using maketrans() to 
# construct translate
# table
table = trg.maketrans(str1, str2, str3)
  
# Printing original string 
print ("The string before translating is : ", end ="")
print (trg)
  
# using translate() to make translations.
print ("The string after translating is : ", end ="")
print (trg.translate(table))

The string before translating is : weeksyourweeks
The string after translating is : geeksforgeeks

In [6]:
ord('a')
# Character Key converting to Ordinals

97

In [8]:
help(chr)

Help on built-in function chr in module builtins:

chr(i, /)
    Return a Unicode string of one character with ordinal i; 0 <= i <= 0x10ffff.

In [10]:
chr(97)

'a'

In [11]:
string

'abcde'

In [12]:
string = "Hello Sid here , sunday morning"

In [13]:
str1 ='abcde'
str2 ='12345'

In [14]:
t = string.maketrans(str1,str2)

In [15]:
t

{97: 49, 98: 50, 99: 51, 100: 52, 101: 53}

In [16]:
chr(49)

'1'

In [18]:
t

{97: 49, 98: 50, 99: 51, 100: 52, 101: 53}

In [17]:
string.translate(t)

'H5llo Si4 h5r5 , sun41y morning'

# Code #2 : Code to translate without maketrans().

In [19]:
# Python3 code to demonstrate 
# translations without
# maketrans() 
  
# specifying the mapping 
# using ASCII 
table = { 119 : 103, 121 : 102, 117 : None }
  
# target string 
trg = "weeksyourweeks"
  
# Printing original string 
print ("The string before translating is : ", end ="")
print (trg)
  
# using translate() to make translations.
print ("The string after translating is : ", end ="")
print (trg.translate(table))

The string before translating is : weeksyourweeks
The string after translating is : geeksforgeeks

In [21]:
chr(119)
chr(103)

'g'

#  Map and Lambda Function

#Python Lambda Functions are anonymous function means that the function is without a name. As we already know that the def keyword is used to define a normal function in Python. Similarly, the lambda keyword is used to define an anonymous function in Python. 

Python Lambda Function Syntax
Syntax: lambda arguments: expression

This function can have any number of arguments but only one expression, which is evaluated and returned.
One is free to use lambda functions wherever function objects are required.
You need to keep in your knowledge that lambda functions are syntactically restricted to a single expression.
It has various uses in particular fields of programming, besides other types of expressions in functions.

In [22]:
str1 = 'siddhartha'
 
# lambda returns a function object
rev_upper = lambda string: string.upper()[::-1]
print(rev_upper(str1))

AHTRAHDDIS

In [23]:
def cube(y):
    return y*y*y
 
 
def lambda_cube(y): return y*y*y
 
 
# using function defined
# using def keyword
print("Using function defined with `def` keyword, cube:", cube(5))
 
# using the lambda function
print("Using lambda function, cube:", lambda_cube(5))

Using function defined with `def` keyword, cube: 125
Using lambda function, cube: 125

In [24]:
is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
 
# iterate on each lambda function
# and invoke the function to get the calculated value
for item in is_even_list:
    print(item())

10
20
30
40

![](img/54.png)

In [25]:

# Example of lambda function using if-else
Max = lambda a, b : a if(a > b) else b
 
print(Max(1, 2))

2

In [26]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(filter(lambda x: (x % 2 != 0), li))
print(final_list)
# lambda x: (x % 2 != 0) returns True or False if x is not even. Since filter() only keeps 
# elements where it produces True, thus it removes all odd numbers that generated False.

[5, 7, 97, 77, 23, 73, 61]

In [27]:
ages = [13, 90, 17, 59, 21, 60, 5]
 
adults = list(filter(lambda age: age > 18, ages))
 
print(adults)

[90, 59, 21, 60]

#Using lambda() Function with map()

The map() function in Python takes in a function and a list as an argument. 
The function is called with a lambda function and a list and a new list is 
returned which contains all the lambda modified items returned 
by that function for each item. Example:

In [28]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
 
final_list = list(map(lambda x: x*2, li))
print(final_list)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [29]:
animals = ['dog', 'cat', 'parrot', 'rabbit']
 
# here we intend to change all animal names
# to upper case and return the same
uppered_animals = list(map(lambda animal: animal.upper(), animals))
 
print(uppered_animals)

['DOG', 'CAT', 'PARROT', 'RABBIT']

#Using lambda() Function with reduce()

The reduce() function in Python takes in a function and a list as an argument.
 The function is called with a lambda function and an 
 iterable and a new reduced result is returned. This performs 
 a repetitive operation over the pairs of the iterable. The reduce() 
 function belongs to the  functools module.

In [30]:
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)

193

In [31]:
import functools
 
# initializing list
lis = [1, 3, 5, 6, 2, ]
 
# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The maximum element of the list is : 6

In [32]:
Sq =[1,2,3,4]

In [33]:
def square(x):
    return x*x

list(map(square,Sq))

[1, 4, 9, 16]

# Filters()
#filter(function , iterables)

In [34]:
list(filter(lambda x :x%2==0, range(1,11)))

[2, 4, 6, 8, 10]

# LIST COMPREHENSION

In [37]:
[x for x in range(1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

![](img/55.png)

In [38]:
[x for x in range(1,11) if x%2==0]

[2, 4, 6, 8, 10]

In [39]:
[x for x in range(1,11) if x%2!=0]

[1, 3, 5, 7, 9]

In [40]:
[x if x>2 else x+1 for x in range(1,11)]

[2, 3, 3, 4, 5, 6, 7, 8, 9, 10]

# Add / Multiply # in the List

In [43]:
num =[1,2,3]
5*num

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [44]:
[x*10 for x in num]

[10, 20, 30]

In [51]:
words = ['sid','a','genious']

In [52]:
[x.upper() for x in words]

['SID', 'A', 'GENIOUS']

In [53]:
str1= 'sidd123'

In [55]:
[x for x in str1 if x.isdigit()]

['1', '2', '3']

In [56]:
[x for x in str1 if x.isalpha()]

['s', 'i', 'd', 'd']

In [57]:
list_1 = [[1,2,3] ,[4,5,6],['a','b']]

In [63]:
list_1[0]

[1, 2, 3]

In [64]:
[x[0] for x in list_1]

[1, 4, 'a']

In [65]:
def square(x):
    return x*x

In [66]:
[square(x)for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
square(5)

25

In [68]:
a =[1,2,3]
b = [3,4,5]
[x+y for x in a for y in b]

[4, 5, 6, 5, 6, 7, 6, 7, 8]

In [69]:
c = [3,4,5]

In [71]:
# a+c[]
[a[i] +c[i] for i in range(0,len(a))]

[4, 6, 8]

# - if __name__ =='__main__'

#https://www.geeksforgeeks.org/what-does-the-if-__name__-__main__-do/

![](img/56.png)

# File is been Excuted in Python IDE -
# file 1  (main) -  if_main_module.py
# file 2 - name - if_main_mod.py

# Bitwise Operators 1 (AND | OR | XOR)

![](img/57.png)

![](img/58.png)

![](img/59.png)

# https://www.geeksforgeeks.org/python-bitwise-operators/

#Operators are used to perform operations on values and variables. These are the special symbols that carry out arithmetic and logical computations. The value the operator operates on is known as Operand. 

Table of Content: 

Bitwise operators: 

Bitwise AND operator

Bitwise OR operator

Bitwise not operator

Bitwise XOR operator

Shift Operators: 

Bitwise right shift

Bitwise left shift

Bitwise Operator Overloading

#Bitwise operators
In Python, bitwise operators are used to performing bitwise 
calculations on integers. The integers are first converted
 into binary and then operations are performed on bit by bit,
  hence the name bitwise operators. Then the result is returned in decimal format.

Note: Python bitwise operators work only on integers.

![](img/60.png)

#Bitwise AND operator: Returns 1 if both the bits are 1 else 0.

a = 10 = 1010 (Binary)

b = 4 =  0100 (Binary)

a & b = 1010

         &

        0100

      = 0000
      
      = 0 (Decimal)

#Bitwise or operator: Returns 1 if either of the bit is 1 else 0.
Example:

a = 10 = 1010 (Binary)

b = 4 =  0100 (Binary)

a | b = 1010
         |
        0100
      = 1110
      = 14 (Decimal)

#Bitwise not operator: Returns ones complement of the number.
Example:

a = 10 = 1010 (Binary)

~a = ~1010
   = -(1010 + 1)
   = -(1011)
   = -11 (Decimal)

#Bitwise xor operator: Returns 1 if one of the bits is 1 and the other is 0 else returns false.
Example:

a = 10 = 1010 (Binary)
b = 4 =  0100 (Binary)

a ^ b = 1010
         ^
        0100
      = 1110
      = 14 (Decimal)

# Shift Operators
These operators are used to shift the bits of a number left or right thereby multiplying or dividing the number by two respectively. They can be used when we have to multiply or divide a number by two. 

#Bitwise right shift: Shifts the bits of the number to the right and fills 0 on voids left( fills 1 in the case of a negative number) as a result. Similar effect as of dividing the number with some power of two.
Example: 

Example 1:
a = 10 = 0000 1010 (Binary)

a >> 1 = 0000 0101 = 5

Example 2:

a = -10 = 1111 0110 (Binary)

a >> 1 = 1111 1011 = -5

#Bitwise left shift: Shifts the bits of the number to the left and fills 0 on voids right as a result. 

Similar effect as of multiplying the number with some power of two.

Example: 

Example 1:

a = 5 = 0000 0101 (Binary)

a << 1 = 0000 1010 = 10

a << 2 = 0001 0100 = 20 

Example 2:

b = -10 = 1111 0110 (Binary)

b << 1 = 1110 1100 = -20

b << 2 = 1101 1000 = -40

In [4]:

# Python program to show
# shift operators
 
a = 10
b = -10
 
# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)
 
a = 5
b = -10
 
# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 = 5
b >> 1 = -5
a << 1 = 10
b << 1 = -20

#Bitwise Operator Overloading

Operator Overloading means giving extended meaning beyond their predefined operational meaning.

 For example operator + is used to add two integers as well as join two strings and merge two lists.
  It is achievable because the + operator is overloaded by int class and str class. 
  You might have noticed that the same built-in operator or function shows different
   behavior for objects of different classes, this is called Operator Overloading.
Below is a simple example of Bitwise operator overloading.

In [5]:
 
 
class Geek():
    def __init__(self, value):
        self.value = value
 
    def __and__(self, obj):
        print("And operator overloaded")
        if isinstance(obj, Geek):
            return self.value & obj.value
        else:
            raise ValueError("Must be a object of class Geek")
 
    def __or__(self, obj):
        print("Or operator overloaded")
        if isinstance(obj, Geek):
            return self.value | obj.value
        else:
            raise ValueError("Must be a object of class Geek")
 
    def __xor__(self, obj):
        print("Xor operator overloaded")
        if isinstance(obj, Geek):
            return self.value ^ obj.value
        else:
            raise ValueError("Must be a object of class Geek")
 
    def __lshift__(self, obj):
        print("lshift operator overloaded")
        if isinstance(obj, Geek):
            return self.value << obj.value
        else:
            raise ValueError("Must be a object of class Geek")
 
    def __rshift__(self, obj):
        print("rshift operator overloaded")
        if isinstance(obj, Geek):
            return self.value & obj.value
        else:
            raise ValueError("Must be a object of class Geek")
 
    def __invert__(self):
        print("Invert operator overloaded")
        return ~self.value
 
 
# Driver's code
if __name__ == "__main__":
    a = Geek(10)
    b = Geek(12)
    print(a & b)
    print(a | b)
    print(a ^ b)
    print(a << b)
    print(a >> b)
    print(~a)

And operator overloaded
8
Or operator overloaded
14
Xor operator overloaded
6
lshift operator overloaded
40960
rshift operator overloaded
8
Invert operator overloaded
-11

# Bitwise  & operator

![](img/orr.png)

# Bitwise OR |

![](img/ORR1.png)

# Bitwise XOR ^

![](img/XOR.png)

In [6]:
bin(10)

'0b1010'

In [7]:
int(0b1010)

10

# Bitwise Not / Complement / Negation operator

![](img/Not.png)

![](img/not1.png)

![](img/left.png)

![](img/left1.png)

# Bitwise R-Shift

![](img/right1.png)

![](img/right2.png)

In [8]:
a =20

In [9]:
a<<2

80

In [10]:
a>>2

5

In [11]:
b =100

In [12]:
b<<3

800

# Short Cut for R+ L Shft

For Left shift(>>):-x<<y=x*(2**y),

Example:-100<<3=100*(2**3)

=>100*8

=>800

So,the 100<<3=800

For right shift(>>):-x>>y=x//(2**y)[Floor division]

Example:-100>>2=100//(2*2)

=>100//4

=>25

So the 100>>2=25

# Sort  - using -- LIST --- TUPLE  ---DICT

# 1 method   - using  Built in Func()
# 2 . Without Built in Func()

# List  - Bulit in Funct()

![](img/list_sort.png)

In [13]:
num = [11, 31, 45, 10, 12.3]

In [14]:
num.sort()

In [15]:
num

[10, 11, 12.3, 31, 45]

In [16]:
num.sort(reverse=True)

In [17]:
num

[45, 31, 12.3, 11, 10]

In [19]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Sort based on len

In [23]:
lenght= ['aaa','zzzzzz','ss','qqq']

In [24]:
lenght.sort(key=len)

In [25]:
lenght

['ss', 'aaa', 'qqq', 'zzzzzz']

In [26]:
list = [[2,9],[1,3],[5,6]]

In [27]:
list.sort()

In [28]:
list
# Sorted by the First number in the list

[[1, 3], [2, 9], [5, 6]]

In [29]:
# now sort by 2nd # in the list
def sortbysec(element):
    return element[1]

In [30]:
list.sort(key=sortbysec)

In [31]:
list

[[1, 3], [5, 6], [2, 9]]

# Built in Func() - SORTED

In [33]:
list1 = [2,5,1,6,9,8,3]
tuple1 = ((3,8), (2,9),(1,10),(4,7))
d1 = {3:'e', 2:'a', 1:'c',7:'b', 5:'d'}

In [34]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [35]:
sorted(list1)

[1, 2, 3, 5, 6, 8, 9]

In [36]:
sorted(list1,reverse=True)

[9, 8, 6, 5, 3, 2, 1]

In [37]:
sorted(tuple1)

[(1, 10), (2, 9), (3, 8), (4, 7)]

In [38]:
sorted(d1)

[1, 2, 3, 5, 7]

In [39]:
sorted(d1.values())

['a', 'b', 'c', 'd', 'e']

In [41]:
sorted(d1.items())

[(1, 'c'), (2, 'a'), (3, 'e'), (5, 'd'), (7, 'b')]

In [44]:
# Sorted According tp Values
sorted(d1.items(), key=lambda x : x[1])

[(2, 'a'), (7, 'b'), (1, 'c'), (5, 'd'), (3, 'e')]

![](img/tuple.png)

![](img/tt.png)

# Selection  SORT ()- Algorithm

![](img/s_1.png)

![](img/s1.png)

![](img/s2.png)

![](img/s3.png)

![](img/s4.png)

![](img/s5.png)

![](img/s6.png)

![](img/s7.png)

![](img/s8.png)

![](img/s9.png)

![](img/s10.png)

![](img/s11.png)

![](img/s12.png)

![](img/s13.png)

![](img/s14.png)

![](img/s15.png)

![](img/s16.png)

![](img/s17.png)

![](img/s18.png)

![](img/s19.png)

![](img/s20.png)

# Selection Sort | Program | Using min() | For Non Duplicate Values | Part-1

![](img/l1.png)

In [46]:
list_1 = [56,3,2,79,6,0]

In [47]:
min_val =min(list_1)
min_ind =list_1.index(min_val)

In [48]:
min_ind

5

![](img/l2.png)

In [49]:
list_1[0],list_1[min_ind] =list_1[min_ind],list_1[0]

In [50]:
list_1

[0, 3, 2, 79, 6, 56]

![](img/swap1.png)

![](img/swap2.png)

![](img/swap3.png)

![](img/swap4.png)

In [51]:
for i in range(len(list_1)):
    min_val =min(list_1[i:])
    min_ind =list_1.index(min_val)
    list_1[i],list_1[min_ind]=list_1[min_ind],list_1[i]

print(list_1)

[0, 2, 3, 6, 56, 79]

![](img/swap5.png)

# How to chk Duplicate values -- How to Sort it

In [53]:
list_1 =  [56,0,2,2,6,0]
print('Unsorted List',list_1)

for i in range(len(list_1)):
    min_val =min(list_1[i:])
    min_ind =list_1.index(min_val,i)
    list_1[i],list_1[min_ind]=list_1[min_ind],list_1[i]

print(list_1)

Unsorted List [56, 0, 2, 2, 6, 0]
[0, 0, 2, 2, 6, 56]

# iterations -- chage the print value  - place in For loop

In [56]:
list_1 = [34,5,6,81,0,5]
print('Unsorted List',list_1)

for i in range(len(list_1)):
    min_val =min(list_1[i:])
    min_ind =list_1.index(min_val,i)
    list_1[i],list_1[min_ind]=list_1[min_ind],list_1[i]
    print(list_1)

Unsorted List [34, 5, 6, 81, 0, 5]
[0, 5, 6, 81, 34, 5]
[0, 5, 6, 81, 34, 5]
[0, 5, 5, 81, 34, 6]
[0, 5, 5, 6, 34, 81]
[0, 5, 5, 6, 34, 81]
[0, 5, 5, 6, 34, 81]

#  Reducing Iterations from  6 to 5 in for loop change

In [57]:
list_1 = [34,5,6,81,0,5]
print('Unsorted List',list_1)

for i in range(len(list_1)-1):
    # Same out ..  Len - 1  in for loop
    min_val =min(list_1[i:])
    min_ind =list_1.index(min_val,i)
    list_1[i],list_1[min_ind]=list_1[min_ind],list_1[i]
    print(list_1)

Unsorted List [34, 5, 6, 81, 0, 5]
[0, 5, 6, 81, 34, 5]
[0, 5, 6, 81, 34, 5]
[0, 5, 5, 81, 34, 6]
[0, 5, 5, 6, 34, 81]
[0, 5, 5, 6, 34, 81]

In [59]:
list_1 = [34,5,6,81,0,5]
print('Unsorted List',list_1)

for i in range(len(list_1)-1):
    min_val =min(list_1[i:])
    min_ind =list_1.index(min_val,i)
    if list_1[i] != list_1[min_ind]:
        list_1[i],list_1[min_ind]=list_1[min_ind],list_1[i]
    
    print(list_1)

Unsorted List [34, 5, 6, 81, 0, 5]
[0, 5, 6, 81, 34, 5]
[0, 5, 6, 81, 34, 5]
[0, 5, 5, 81, 34, 6]
[0, 5, 5, 6, 34, 81]
[0, 5, 5, 6, 34, 81]

# without Min Method 
# Use Condition  statement

![](img/swap6.png)

In [63]:
list_1 = [34,5,6,81,0,5]
print('Unsorted List',list_1)

for i in range(len(list_1)-1):
    m_val = list_1[i]
    for j in range(i+1,len(list_1)):
        if list_1[j]< m_val:
            m_val = list_1[j]

    m_ind =list_1.index(m_val,i)
    if list_1[i] != list_1[m_ind]:
        list_1[i],list_1[m_ind]=list_1[m_ind],list_1[i]
    
print(list_1)

Unsorted List [34, 5, 6, 81, 0, 5]
[0, 5, 5, 6, 34, 81]

# descending Values

In [64]:
list_1 = [34,5,6,81,0,5]
print('Unsorted List',list_1)

for i in range(len(list_1)-1):
    m_val = list_1[i]
    for j in range(i+1,len(list_1)):
        if list_1[j]> m_val:
            m_val = list_1[j]

    m_ind =list_1.index(m_val,i)
    if list_1[i] != list_1[m_ind]:
        list_1[i],list_1[m_ind]=list_1[m_ind],list_1[i]
    
print(list_1)

Unsorted List [34, 5, 6, 81, 0, 5]
[81, 34, 6, 5, 5, 0]

# Bubble Sort

![](img/b.png)

![](img/b1.png)

![](img/b2.png)

![](img/b3.png)

![](img/b4.png)

![](img/b5.png)

![](img/b6.png)

![](img/b8.png)

![](img/b9.png)

In [69]:
list1 = [10,15,4,23,0]
print('Unsorted List' ,list1)

for i in range(len(list1)-1):
    if list1[i]>list1[i+1]:
        list1[i],list1[i+1] = list1[i+1],list1[i]
print('Sorted List :' , list1)

Unsorted List [10, 15, 4, 23, 0]
Sorted List : [10, 4, 15, 0, 23]

![](img/b10.png)

In [72]:
list1 = [10,15,4,23,0]
print('Unsorted List' ,list1)

for j in range(len(list1)-1):
    for i in range(len(list1)-1-j):
        if list1[i]>list1[i+1]:
            list1[i],list1[i+1] = list1[i+1],list1[i]
            print(list1)
        else:
            print(list1)
    print()

print('Sorted List :' ,list1)

Unsorted List [10, 15, 4, 23, 0]
[10, 15, 4, 23, 0]
[10, 4, 15, 23, 0]
[10, 4, 15, 23, 0]
[10, 4, 15, 0, 23]

[4, 10, 15, 0, 23]
[4, 10, 15, 0, 23]
[4, 10, 0, 15, 23]

[4, 10, 0, 15, 23]
[4, 0, 10, 15, 23]

[0, 4, 10, 15, 23]

Sorted List : [0, 4, 10, 15, 23]

# Quick Sort | Example | Introduction | Last Element As Pivot

![](img/q.png)

![](img/q1.png)

![](img/q3.png)

![](img/q4.png)

![](img/q5.png)

# swap

![](img/q6.png)

![](img/q7.png)

![](img/q8.png)

![](img/q9.png)

![](img/q10.png)

![](img/q11.png)

![](img/q12.png)

![](img/q_algo.png)

In [5]:
def pivot_place (list1 , first , last):
    pivot =list1[first]
    left =first + 1
    right = last
    while  True:
        while left<=right and list1[left]<=pivot:
            left = left + 1
        while left<=right and list1[right]>=pivot:
            # for Descending Number change the sign above in reverse format
            right = right -1
        if right < left:
            break
        else:
            list1[left], list1[right] =list1[right],list1[left]
    list1[first],list1[right]=list1[right],list1[first]
    return right


def quicksort(list1, first, last):
    if first<last:
        p = pivot_place(list1, first, last)
        quicksort(list1, first,p-1)
        quicksort(list1, p+1,last)


#main
list1 = [56,26,93,17, 31,44]
n = len(list1)
quicksort(list1,0, n-1)
print(list1)

[17, 26, 31, 44, 56, 93]

# Merge Sort

![](img/merge.png)

![](img/m1.png)

# Merging

![](img/m2.png)

![](img/m3.png)

![](img/m4.png)

![](img/m_statement.png)

![](img/m_algo.png)

![](img/m1_algo.png)

# Vedio - https://youtu.be/_trEkEX_-2Q

In [6]:
def mergeSort(arr):
    if len(arr) > 1:
 
         # Finding the mid of the array
        mid = len(arr)//2
 
        # Dividing the array elements
        L = arr[:mid]
 
        # into 2 halves
        R = arr[mid:]
 
        # Sorting the first half
        mergeSort(L)
 
        # Sorting the second half
        mergeSort(R)
 
        i = j = k = 0
 
        # Copy data to temp arrays L[] and R[]
        while i < len(L) and j < len(R):
            if L[i] <= R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1
 
        # Checking if any element was left
        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1
 
        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1
 
# Code to print the list
 
 
def printList(arr):
    for i in range(len(arr)):
        print(arr[i], end=" ")
    print()
 
 
# Driver Code
if __name__ == '__main__':
    arr = [12, 11, 13, 5, 6, 7]
    print("Given array is", end="\n")
    printList(arr)
    mergeSort(arr)
    print("Sorted array is: ", end="\n")
    printList(arr)

Given array is
12 11 13 5 6 7
Sorted array is:
5 6 7 11 12 13

# insertion sort 
Insertion sort is a simple sorting algorithm that works similar t
o the way you sort playing cards in your hands. The array is 
virtually split into a sorted and an unsorted part. Values from the
 unsorted part are picked and placed at the correct position in the sorted part.

Characteristics of Insertion Sort:
This algorithm is one of the simplest algorithm with simple implementation
Basically, Insertion sort is efficient for small data values
Insertion sort is adaptive in nature, i.e. it is appropriate 
for data sets which are already partially sorted.

# working

First Pass:

Initially, the first two elements of the array are compared in insertion sort.

   12   	   11   	   13   	   5   	   6   
   
Here, 12 is greater than 11 hence they are not in the ascending order and 12 is not at its

 correct position. Thus, swap 11 and 12.
So, for now 11 is stored in a sorted sub-array.

   11   	   12   	   13   	   5   	   6   

Second Pass:

 Now, move to the next two elements and compare them

   11   	   12   	   13   	   5   	   6   

Here, 13 is greater than 12, thus both elements seems to be in ascending order,
 hence, no swapping will occur. 12 also stored in a sorted sub-array along with 11

Third Pass:

Now, two elements are present in the sorted sub-array which are 11 and 12
Moving forward to the next two elements which are 13 and 5

   11   	   12   	   13   	   5   	   6   

Both 5 and 13 are not present at their correct place so swap them

   11   	   12   	   5   	   13   	   6   

After swapping, elements 12 and 5 are not sorted, thus swap again

   11   	   5   	   12   	   13   	   6   

Here, again 11 and 5 are not sorted, hence swap again

   5   	   11   	   12   	   13   	   6   
   
here, it is at its correct position
Fourth Pass:

Now, the elements which are present in the sorted sub-array are 5, 11 and 12
Moving to the next two elements 13 and 6

   5   	   11   	   12   	   13   	   6   

Clearly, they are not sorted, thus perform swap between both

   5   	   11   	   12   	   6   	   13   

Now, 6 is smaller than 12, hence, swap again

   5   	   11   	   6   	   12   	   13   

Here, also swapping makes 11 and 6 unsorted hence, swap again

   5   	   6   	   11   	   12   	   13   
   
Finally, the array is completely sorted.

![](img/i.png)

# Insertion Sort Algorithm 
To sort an array of size N in ascending order: 

Iterate from arr[1] to arr[N] over the array. 
Compare the current element (key) to its predecessor. 
If the key element is smaller than its predecessor, 
compare it to the elements before. Move the greater elements 
one position up to make space for the swapped element.

In [12]:
def insertionSort(arr):
      
    # Traverse through 1 to len(arr)
    for i in range(1, len(arr)):
  
        key = arr[i]
  
        # Move elements of arr[0..i-1], that are
        # greater than key, to one position ahead
        # of their current position
        j = i-1
        while j >= 0 and key < arr[j] :
                arr[j + 1] = arr[j]
                j -= 1
        arr[j + 1] = key
  
  
# Driver code to test above
arr = [12, 11, 13, 5, 6]
insertionSort(arr)
for i in range(len(arr)):
    print ("% d" % arr[i])

 5
 6
 11
 12
 13

In [14]:
def InsertionSort(My_list):
    for index in range(1,len(My_list)):
        curren_element =My_list[index]
        pos = index
        while curren_element<My_list[pos-1] and pos >0:
            My_list[pos] = My_list[pos-1]
            pos = pos-1
        My_list[pos] =curren_element
    
list1 =[2,4,3,5,1]
InsertionSort(list1)
print(list1)

[1, 2, 3, 4, 5]

# Shell Sort

![](img/shell.png)

#Shell sort is mainly a variation of Insertion Sort. In insertion sort, we move elements only one position ahead. When an element has to be moved far ahead, many movements are involved. The idea of ShellSort is to allow the exchange of far items. In Shell sort, we make the array h-sorted for a large value of h. We keep reducing the value of h until it becomes 1. An array is said to be h-sorted if all sublists of every hth element are sorted.

# Algorithm:

Step 1  Start

Step 2  Initialize the value of gap size. Example: h

Step 3  Divide the list into smaller sub-part. Each must have equal intervals to h

Step 4  Sort these sub-lists using insertion sort

Step 5  Repeat this step 2 until the list is sorted.

Step 6  Print a sorted list.

Step 7  Stop.

![](img/s_algo.png)

![](img/s_algo1.png)

![](img/ss.png)

![](img/ss1.png)

![](img/ss2.png)

In [15]:
def shellSort(arr, n):
    # code here
    gap=n//2
      
      
    while gap>0:
        j=gap
        # Check the array in from left to right
        # Till the last possible index of j
        while j<n:
            i=j-gap # This will keep help in maintain gap value
              
            while i>=0:
                # If value on right side is already greater than left side value
                # We don't do swap else we swap
                if arr[i+gap]>arr[i]:
  
                    break
                else:
                    arr[i+gap],arr[i]=arr[i],arr[i+gap]
  
                i=i-gap # To check left side also
                            # If the element present is greater than current element 
            j+=1
        gap=gap//2
  
  
# driver to check the code
arr2 = [12, 34, 54, 2, 3]
print("input array:",arr2)
  
shellSort(arr2,len(arr2))
print("sorted array",arr2)

input array: [12, 34, 54, 2, 3]
sorted array [2, 3, 12, 34, 54]

# Linear Search | Searching key Element in the List Of Numbers

# A simple approach is to do a linear search, i.e

Start from the leftmost element of arr[] and one by one compare x with each element of arr[]

If x matches with an element, return the index.

If x doesnt match with any of the elements, return -1.

![](img/l.png)

![](img/ll1.png)

In [20]:
def linearsearch(arr, x):
    for i in range(len(arr)):
        if arr[i] == x:
            return i
    return -1
arr = ['t','u','t','o','r','i','a','l']
x = 'a'
print("element found at index "+str(linearsearch(arr,x)))

element found at index 6

# Binary_Search

![](img/bs.png)

# Binary Search Approach: 

Binary Search is a searching algorithm used in a sorted array by repeatedly dividing the search interval in half. The idea of binary search is to use the information that the array is sorted and reduce the time complexity to O(Log n). 

Binary Search Algorithm: The basic steps to perform Binary Search are:

Begin with the mid element of the whole array as a search key.

If the value of the search key is equal to the item then return an index of the search key.

Or if the value of the search key is less than the item in the middle of the interval, narrow the interval to the lower half.

Otherwise, narrow it to the upper half.

Repeatedly check from the second point until the value is found or the interval is empty.

# Binary Search Algorithm can be implemented in the following two ways

Iterative Method

Recursive Method

![](img/bs1.png)

![](img/bs2.png)

![](img/bs_a.png)

#Step-by-step Binary Search Algorithm:

 We basically ignore half of the elements just after one comparison.

Compare x with the middle element.

If x matches with the middle element, we return the mid index.

Else If x is greater than the mid element, then x can only lie in the right half subarray after the mid element. So we 
recur for the right half.

Else (x is smaller) recur for the left half.

# Recursive implementation of Binary Search:

In [21]:
# Python3 Program for recursive binary search.
 
# Returns index of x in arr if present, else -1
 
 
def binarySearch(arr, l, r, x):
 
    # Check base case
    if r >= l:
 
        mid = l + (r - l) // 2
 
        # If element is present at the middle itself
        if arr[mid] == x:
            return mid
 
        # If element is smaller than mid, then it
        # can only be present in left subarray
        elif arr[mid] > x:
            return binarySearch(arr, l, mid-1, x)
 
        # Else the element can only be present
        # in right subarray
        else:
            return binarySearch(arr, mid + 1, r, x)
 
    else:
        # Element is not present in the array
        return -1
 
 
# Driver Code
arr = [2, 3, 4, 10, 40]
x = 10
 
# Function call
result = binarySearch(arr, 0, len(arr)-1, x)
 
if result != -1:
    print("Element is present at index % d" % result)
else:
    print("Element is not present in array")

Element is present at index  3

#  Iterative Approach to Binary Search

In [22]:

def binarySearch(v, To_Find):
    lo = 0
    hi = len(v) - 1
 
    # This below check covers all cases , so need to check
    # for mid=lo-(hi-lo)/2
    while hi - lo > 1:
        mid = (hi + lo) // 2
        if v[mid] < To_Find:
            lo = mid + 1
        else:
            hi = mid
 
    if v[lo] == To_Find:
        print("Found At Index", lo)
    elif v[hi] == To_Find:
        print("Found At Index", hi)
    else:
        print("Not Found")
 
 
if __name__ == '__main__':
    v = [1, 3, 4, 5, 6]
 
    To_Find = 1
    binarySearch(v, To_Find)
 
    To_Find = 6
    binarySearch(v, To_Find)
 
    To_Find = 10
    binarySearch(v, To_Find)

Found At Index 0
Found At Index 4
Not Found

# Guess the Output Series - Python

#Explanation : In the above program r and s are lambda functions or anonymous functions and q is the argument to both of the functions. In first step we have initialized x to 2. In second step we have passed x as argument to the lambda function r, this will return x*2 which is stored in x. That is, x = 4 now. Similarly in third step we have passed x to lambda function s, So x = 4*3. i.e, x = 12 now. Again in the last step, x is multiplied by 2 by passing it to function r. Therefore, x = 24.

In [23]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r(x)
x = s(x)
x = r(x)
print (x)

24

#In Python, AND operator has higher precedence than OR operator. So, it is evaluated first. i.e, (b and c) evaluates to false.Now OR operator is evaluated. Here, (True or False) evaluates to True. So the if condition becomes True and GEEKSFORGEEKS is printed as output.

In [24]:
a = True
b = False
c = False
  
if a or b and c:
    print ("GEEKSFORGEEKS")
else:
    print ("geeksforgeeks")

GEEKSFORGEEKS

#n Python the precedence order is first NOT then AND and in last OR. So the if condition and second elif condition evaluates to False while third elif condition is evaluated to be True resulting in 3 as output.

![](img/g.png)

![](img/g1.png)

![](img/g2.png)

In [ ]:
a = True
b = False
c = False
  
if not a or b:
    print (1)
elif not a or not b and c:
    print (2)
elif not a or b or not b and a:
    print (3)
else:
    print (4)

#The variable count declared outside the function is global variable and also the count variable being referenced in the function is the same global variable defined outside of the function. So, the changes made to variable in the function is reflected to the original variable. So, the output of the program is 4.

In [25]:
count = 1 
  
def doThis():
  
    global count
  
    for i in (1, 2, 3): 
        count += 1
  
doThis()
  
print (count)

4

In [34]:
s = ['SID' , 'ROCK' , 'pQr']
for i in s:
    x= i.lower()
    print([x])

['sid']
['rock']
['pqr']

In [36]:
for i in range(1,10):
    if i==5:
        break
    else:
        print(i)

1
2
3
4

# Slicing of List & in Sublist
# Do study in Youtube

![](img/slice.png)

![](img/slice1.png)

![](img/slice2.png)

![](img/slice_final.png)